<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.integral.mapper.IntegralitemMapper">

    <insert id="insert" parameterType="com.integral.model.Integralitem">
        insert into integral_item
        (ID,INTEGRAL_GOODS_ID,INTEGRAL_MEMBER_CCS_ID,PAY_POINTS,STATUS,CREATE_DATE,UPDATE_DATE,REMARK,ITEM_CODE)
        values(#{id,jdbcType=DECIMAL},#{integral_goods_id,jdbcType=DECIMAL},#{integral_member_ccs_id,jdbcType=DECIMAL},
        #{pay_points,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{create_date},
        #{update_date},#{remark,jdbcType=VARCHAR},#{item_code,jdbcType=VARCHAR})
    </insert>



</mapper>
